@font-face {
    font-family: 'Molot';
    src:
        local('Molot'),
        url('fonts/Molot.otf')
        format('opentype');
}

body {
    overflow-y: hidden;
    background-color:#000;
    color:#FFF;
    text-align:center;
    font-size:30px;
    font-family: 'Open Sans', sans-serif;
    height:100%;
}

#content {
    height:120vh;
    background-color:#000;
    padding:5vw;
}

p {
    margin-bottom:100px;
    padding:0px 15vw 0px 15vw;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

#parallax {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin: 100% initial;
    margin:auto;
}

.intro {
    visibility:visible;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 100% initial;
    margin:0px;
}
.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
    bottom: -225px;
    background-color:#F15B24;
    /*max-width:1920px;
    margin:auto;*/
}
.parallax__layer--title {
    background-image: url("img/title.png");
    background-size:65vw;
    background-repeat:no-repeat;
    background-position:center;
    transform: translateZ(-2px) scale(2) translateY(-100px);
}
.parallax__layer--sun {
    background-image: url("img/sun.png");
    background-size:32vw;
    background-repeat:no-repeat;
    background-position:center;
    transform: translateZ(-8px) scale(5) translateY(-100px);
}
.parallax__layer--skylinefront {
    background-image: url("img/skylinefront.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    transform: translateZ(0);
    bottom: -100vh;
    /*max-width:1920px;
    margin:auto;*/
}
.parallax__layer--skylineback {
    background-image: url("img/skylineback.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    transform: translateZ(-1px) scale(2);
    bottom: -170vh;
    /*max-width:1920px;
    margin:auto;*/
}
.parallax__layer--front {
    background-color:#000;
    transform: translateZ(0);
    top:100vh;
}

#weapon_menu {
    white-space:nowrap;
}

#weapon_menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#weapon_menu ul li {
    display:inline-block;
    vertical-align: top;
    margin: 0px auto 10px auto;
    max-width: 20%;
    width: auto\9;
    height: auto;
}

#weapon_back_link {
    text-decoration: none;
}

#weapon_description {
    margin-bottom: 0px;
}

#weapon_select_button {
    border-radius: 15%;
    border: none;
    background-color: #f15b24;
    width:100px;
    height:75px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
}

#weapon_select_button:hover {
    background-color: #9e0b0f;
    color: white;
}

.weapon_info {
    margin-bottom: 20px;
}

.weapon_stats{
    display: inline-block;
    vertical-align: top;
    max-width: 50%;
    width: auto\9;
    height: auto;
    margin-bottom: 5px;
}

.weapon_gif {
    
    border-style: solid;
    border-color: #f15b24;
    border-width: 5px;
    margin-right: 10px;
    background-color: #f15b24;
}

.weapon_button {
    background-color: #f15b24;
    border: none;
    border-radius: 100%;
}

.weapon_button:hover {
    background-color: #9e0b0f;
}

.button_selected {
    background-color: #9e0b0f;
}

#weapon_description {
    /*background-color: #9e0b0f;*/
    margin-bottom: 50px;
    overflow: auto;
}

#section_maps {
    left:0px;
    position: static;
    transform: translateZ(10px) scale(1/2);
}

#section_maps ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

#section_maps ul li {
    display:inline-block;
    margin:0px 20px 60px 20px;
}

#section_maps ul li a {
    text-decoration:none;
    color:#FFF;
    font-family:Molot;
}

#section_maps ul li a img {
    max-width:400px;
    border: 5px solid;
    margin:5px;
    -webkit-transition: linear 0.1s;
     transition: 0.1s;
}

#section_maps ul li a:hover img {
    max-width:400px;
    border: 10px solid #FFF;
    margin:0px;
}

.background {
    visibility:hidden;
    width:100vw;
    height:100vh;
    position:fixed;
    margin:0px;
    left:0px;
    top:0px;
}

#section_bg_maps {
    background-image: url("img/screenshot1.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-attachment:fixed;
}

#section_bg_black {
    background-color:#000;
}

#viewer {
    width:100vw;
    height:100vh;
    position:fixed;
    left:0px;
    bottom:0px;
    top:0px;
    right:0px;
    background-color:rgba(0,0,0,0.9);
    opacity:0;
    visibility:hidden;
    transition:all 0.2s ease-out; 
    -moz-transition:all 0.2s ease-out; 
    -o-transition:all 0.2s ease-out; 
    -webkit-transition:all 0.2s ease-out; 
}

#viewer a img {
    position:fixed;
    top:50%;
    left:50%;
    box-shadow: 0px 0px 200px #000;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    background-color:rgba(0,0,0,1);
    border:solid 6px;
    margin:6px;
    max-width:1000px;
    transition:all 0.2s ease-out; 
    -moz-transition:all 0.2s ease-out; 
    -o-transition:all 0.2s ease-out; 
    -webkit-transition:all 0.2s ease-out; 
}

#viewer a:hover img {
    border:#FFF solid 12px;
}

#mc_embed_signup {
    background-color: white;
    padding-bottom: 20px;
}

#mc_label {
    color: black;
}

input {
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    border: 5px solid black;
}

input#mce-EMAIL {
    padding-left: 10px;
}

input#mc-embedded-subscribe {
    color: white;
    background-color: black;
}

input#mc-embedded-subscribe:hover {
    color: black;
    background-color: white;
}